.filtre_pic{
    margin-bottom: 0.5rem;
}

.filtre_pic thead tr:nth-child(1) th {
    background-color: white;
    font-size: 1rem;
    color: gray;
}

.pic3mois {
    border-bottom: 1px solid #dee2e6;
    padding-top: 0;
    padding-bottom: 0.5rem;
    background-color: #f2f3f4;
}

.pic3mois thead tr:nth-child(1) th {
    font-size: 1rem;
}

.link {
    cursor: pointer;
    color: #564b79;
}

span.info {
    position: relative;
    text-decoration: none;
}
span.info pre {
    display: none;
}
span.info:hover {
    background: none; 
    z-index: 500;
}
span.info:hover pre {
    display: inline; 
    position: absolute;
    white-space: nowrap; 
    top: 20px;
    left: 0px;
    background: white;
    color: blue;
    padding: 3px;
    border: 1px solid blue;
    border-left: 4px solid blue;
    text-align: left;
}

.pic3mois {
    width:98%; 
    height:85vh; 
    overflow: auto;
    margin-left:1%;
    margin-right:1%;
}

table.pic3mois {
    width:100%;
    overflow-y:auto;
}

td.pic3mois {
    width:40em;
}

.pic3mois table {
    border: 1px solid gray;
}
.pic3mois td {
    border: 1px solid gray;
    padding-left:5pt;
    padding-right:2pt;
}
.pic3mois th {
    border: 1px solid gray;
    padding-left:5pt;
    padding-right:2pt;
    // border-left: 1px solid red;
    // border-right: 1px solid red;
}


// style="" 


// .pic3mois thead tr:nth-child(1) th {
//     border: 1px solid black;
//     border-bottom: 1px solid black;
//     border-left: 1px solid red;
//     border-right: 1px solid red;
// }


.pic3mois thead tr:nth-child(1) th {
    // background-color: unset;
    background-color: #FFFBCC;
    // border: 1px solid gray;
    // border-left: 1px solid red;
    // border-right: 1px solid red;
}




/*
@media print {
    .page-break { display: block; page-break-before: always; }
    table { page-break-inside:auto }
    tr    { page-break-inside:avoid; page-break-after:auto }
}
*/



@media print {
    // table {
    //     page-break-inside: avoid;
    // }
    html .o_web_client {
        height: auto;
        overflow: auto;
      }
    .pic3mois {
        height:auto; 
    }

    html .o_web_client {
        display: block;
    }

    // table.report-container {
    //     page-break-after:always;
    // }
    thead.report-header {
        display:table-header-group;
        //font-size:6pt;
    }
    // tfoot.report-footer {
    //     display:table-footer-group;
    // }
}
