


$ma_couleur: yellow;


.test_ma_couleur {
    color:$ma_couleur;
}



.test_red {
    color:red;
}
.test_green {
    color:green;
}
.test_blue {
    color:blue;
}




.mold_footer {
    font-size:9pt;
    vertical-align:middle;
    text-align:center;
    border: 1px solid black;
}
