


@media (min-width: 1600px){
    .modal-lg, .modal-xl {
        max-width: 1588px;
    }
    /*
    .o-form-buttonbox {
        margin-top: 0;
    }
    */
}


.o_form_sheet_bg .o_form_statusbar {
    position: inherit !important;
}


