


@media (min-width: 1600px){
    .modal-lg, .modal-xl {
        max-width: 1588px;
    }
    /*
    .o-form-buttonbox {
        margin-top: 0;
    }
    */
}


.margin-right{
    margin-right:1em;
}



// Le 04/11/2024, j'ai commenté ces lignes car l'entête dans les formulaires n'était plus fixé avec sticky_header_tree_and_form_view
// .o_form_sheet_bg .o_form_statusbar {
//     position: inherit !important;
// }

// Le 01/03/2025, j'ai remis ces lignes, car cepuis l'annalyse du CBN, 
// la statusbar de la commande fournsseur affichée en boite de dialague n'était pas conforme
.o_dialog .o_form_sheet_bg .o_form_statusbar {
    position: unset !important;
}
