.calendrier_absence {
    width:100%;
    height:85vh;
    background-color:gray;
}

.calendrier_absence table {
    height: 85vh;
    border-collapse: collapse;
    width: 100%;
    display: block;
    overflow-y: scroll;
}
  
.calendrier_absence thead {
    position: sticky;
    top: 0;
    background: #eee;
}

.calendrier_absence td {
    border: 1px solid gray;
    padding-left:5pt;
    padding-right:2pt;
}
.calendrier_absence th {
    border: 1px solid gray;
    padding-left:5pt;
    padding-right:2pt;
}
