
.o_form_view.o_xxl_form_view .o_form_sheet_bg > .o_form_sheet {
  max-width: 1600px;
}

.o_FormRenderer_chatterContainer.o-aside {
  --Chatter-max-width: 300px;
}


.o_form_view .o_form_sheet_bg {
    background-color: #f7f9f9;
}

.o_form_label{
    white-space: nowrap;
}

.o_form_view .o_group .o_form_label {
  margin-bottom: 1px;
}

/*
.o_form_view .o_input {
    border-color: transparent;
    padding: 0px 1px;
}
*/

.o_form_view .o_inner_group {
    gap: 0.2rem 16px;
}

.table-sm > :not(caption) > * > * {
    padding: 0.1rem 0.1rem;
    padding-left: 0.1rem;
}

.btn {
    line-height: 1;
}


/* .min-w-0 {
    min-width: 0 !important;
    color:red;
} */



/* Permet de masquer les infobulles de l'assistant (Web Tours) */
.o_tooltip::before {
    background: red;
    display: none !important;
}

